:root {
    --nav-color: #212121;
    --header-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
    --white-text: #FFFFFF;
    --unhover-element: #AFB1B8;
    --bg-gradient: linear-gradient(rgba(25, 28, 38, 0.4),
            rgba(25, 28, 38, 0.4));
}