.footer {
    background-color: #2F303A;
    padding: 60px 0;

}


.footer-logo {
    display: block;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
    &:hover, .footer-logo:focus {
    color: var(--accent-color)
}
}

.logo-color-bottom {
    color: var(--white-text);
}

.footer-nav {}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-adress {
    font-style: normal;
    line-height: 1.7;

    color: var(--white-text);
    &:focus {
            color: var(--accent-color)
        }
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    line-height: 1.7;

    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,.footer-link:focus {
            color: var(--accent-color)
        }

        @include desktop {
            align-items: start;
            justify-content: start;
        }
}

.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-text);
    margin-bottom: 20px;
    padding-left: 1px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include desktop {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-nav-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

    @include desktop {
        margin: 0;
        align-items: start;
        justify-content: start;
    }
    
}

.footer-socials-box {
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;

            @include desktop {
                    margin: 0;
                    align-items: start;
                }
}

.footer-socials {
    
}

.footer-soc {
            display: flex;
                align-items: center;
                justify-content: center;
    gap: 10px;
    margin-left: 32px;
    margin-top: 16px;
    margin: 0;

}

.footer-soc-item {
    
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--white-text);
    background: rgba(255, 255, 255, 0.1);

    @extend %alighn-flexcenter;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        .footer-soc-link:focus {
            background-color: var(--accent-color);
        }
        
}

.footer-soc-icon {
    fill: currentColor;
}

.subscribe-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;

    @include desktop {
        flex-wrap: nowrap;
    }
    
}

.footer-wrapper {
    @include tablet {
        max-width: 1199px;
            width: 100%;
                padding-left: 76px;
                padding-right: 89px;
                display: flex;
                align-items: center;
                justify-content: space-between;
    }

    @include desktop {
        margin: 0;
        padding: 0;
        align-items: baseline;
        justify-content: space-evenly;
        
    }
}

.footer-mail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @include tablet {
        width: 450px;
    }
    @include desktop {
        width: 100%;
        align-items: start;
        justify-content: start;
    }
}

.subscribe-text {
    
    @include font(700, 14, 1.14, 0.03);
    text-transform: uppercase;

    color: var(--white-text);
    margin-bottom: 20px;
    padding-left: 1px;
}

.footer-mail {
    width: 450px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    color: var(--white-text);
    &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }

        
        @include desktop {
            width: 358px;
        }
}

.footer-mail-ico {
    margin-left: 10px;
}

.footer-mail-button {
    @include font(700, 16, 1.18, null);

    @extend %alighn-flexcenter;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 28px 10px 31px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    color: var(--white-text);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        @include tablet {
    }
}