
.team {
    display: flex;
    background-color: #F5F4FA;
    & h3 {
            margin-bottom: 10px;
        }
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team__item {
    width: 100%;
    background-color: var(--white-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    padding-bottom: 30px;

        @include tablet {
            width: calc((100% - 30px) / 2 );
        }

        @include desktop {
            width: calc((100% - 3 * 30px) / 4 );
        }
}



.team__photo {
    margin-bottom: 30px;
}

.team__name {
    @include font (500, 16, 1.18, 0.03);
    text-align: center;
}

.team__desc {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    color: var(--text-color)
}

.team__soc {
    display: flex;
    justify-content: center;

    gap: 10px;
    margin-top: 16px;
}



.team__soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--unhover-element);


    @extend %alighn-flexcenter;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        .team-soc-link:focus {
            background-color: var(--accent-color);
            color: var(--white-text);
        }
}

.team__soc-icon {
    fill: currentColor;
}